<article class="row">

    <div class="col s3">
        <a href="/dashboard"> &larr; Back to dashboard</a>
        <h3 class="grey-text text-darken-3">
            Edit Post
        </h3>
        <form class="edit-post-form">
            <div>
                <input name="post-title" type="text" value="{{post.title}}" />
                <span>({{format_url post.post_url}})</span>
            </div>
            <div>
                {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
                |
                <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment"
                    post.comments.length}}</a>
            </div>
            <button class="btn-small waves-effect waves-light" type="submit" name="action">Save post</button>
            <button type="button" class="red delete-post-btn waves-effect waves-light btn-small">Delete post</button>
        </form>
    </div>


</article>

<form class="row comment-form">
    <div class="col s3">
        <textarea name="comment-body"></textarea>
        <button class="btn-small waves-effect waves-light" type="submit" name="action">add comment</button>
    </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>